<h1>düzeltilmesi gerekenler</h1>

<h5>kayıt olma ve giriş işleminin düzeltilmesi</h5>
<h5>sabit bir footer yapılması mevcuttakinin değiştirilmesi</h5>
<h5>validaiton işlemlerinin düzeltilmesi</h5>
<h5>kategori ve yorum admin alanlarının oluşturulması</h5>
<h5>iletişim bölümünün düzeltilmesi</h5>
<h5>arşivdeki tarihlerin düzgün gelmesi</h5>
<h5>yazar bölümünün oluşturulması</h5>
<h5>yorum alanına kullanıcı foto koyulması</h5>
<h5>makale silmede alert göndermeli</h5>
<h5>admin ana sayfasında istatiksel bir sayfaya dönüştürülmesi</h5>

